page-home {

	#cardContainer {
		position: relative;
		margin-top: -5px !important;
	}

	.cardDescription {
		margin-left: 5%;
	}

	.cardButton {
		position: absolute;
		top: -13px !important;
		right: -10px !important;
	}

	.commentsBox {
		font-size:80%!important;
		margin-top: -10px !important;
	}
	
	#submitButton {
		margin-left: auto !important;
		margin-right: auto !important; 
		width: 70% !important;
		// background-color: #827F86;
	}

}
