<!--
  Generated template for the AcceptedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>Application Approved</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
	<!-- *ngIf="appType == 'creditCard'" -->
	<div>
		<ion-card>
			<ion-card-header text-center>
		   	Congratulations!!
			</ion-card-header>
			<!-- <h1 class="congrats" text-center>Congratulations!!</h1> -->
			<!-- <br> -->
			<img *ngIf="cardType == 'Premier Rewards Gold Card'" src="https://icm.aexp-static.com/Internet/Acquisition/US_en/AppContent/OneSite/category/cardarts/premier-rewards-gold.png" class="cardPic">
			<img *ngIf="cardType == 'Blue Cash Everyday Card'" src="https://icm.aexp-static.com/Internet/Acquisition/US_en/AppContent/OneSite/category/cardarts/blue-cash-everyday.png" class="cardPic">
			<img *ngIf="cardType == 'Green Card'" src="https://icm.aexp-static.com/Internet/Acquisition/US_en/AppContent/OneSite/category/cardarts/green-card.png" class="cardPic">
			<img *ngIf="cardType == 'Platinum Card'" src="https://icm.aexp-static.com/Internet/Acquisition/US_en/AppContent/OneSite/CardArt/Card-Tiles/L-Desktop/platinum.png?v=1507744909241" class="cardPic">
			<img *ngIf="cardType == 'Everyday Preferred Card'" src="https://icm.aexp-static.com/Internet/Acquisition/US_en/AppContent/OneSite/category/cardarts/amex-everyday-preferred.png" class="cardPic">
			<br>
			<p text-center class="description" style="margin-top: 21vh !important; margin-bottom: 15px !important;">Your application for a {{cardType}} has been approved and an account has been added for your existing email {{email}}.</p>
			<p class="description">Card #: 9347 839495 72645</p>
			<p class="description">Expiration Date: 12/22</p>
			<p class="description" style="margin-bottom: 15px !important;">Security Code: 4454</p>
		</ion-card>
	</div>

</ion-content>
