page-accepted {

	ion-card-header {
		font-weight: bold !important;
	}

	.congrats {
		margin-top: 30px !important; 
		color: #242424;
	}

	.cardPic {
		width: 60%;
		height: 27vh;
		position: absolute;
  		left: 50%;
  		margin-left: -30%;
	}

	.description {
		color: #242424 !important;
		margin-left: 10%;
		margin-right: 10%;
	}
}
